In [3]:
#OneHotEncoding:
#label encoding:
#Ordinal encoding:


#nominal variables:
 #              cannot be measeared
    
#ordinal variable


#fit: apply mean or other action blue print stored in it and
#transform: and it applies the fit

In [1]:
import pandas as pd
#we import label encoder from model Preprocessing

In [2]:
df=pd.read_csv("/home/abbas/NAVTTEC/Dataset_files/DataCleaning/houseprizes/train.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
df.keys()

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [5]:
#df.select_dtypes(include=['0']).columns
df2=df[['KitchenQual','BldgType']]
df2

     KitchenQual BldgType
0             Gd     1Fam
1             TA     1Fam
2             Gd     1Fam
3             Gd     1Fam
4             Gd     1Fam
...          ...      ...
1455          TA     1Fam
1456          TA     1Fam
1457          Gd     1Fam
1458          Gd     1Fam
1459          TA     1Fam

[1460 rows x 2 columns]

In [6]:
#Now we have created an object and apply label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit_transform(df2["BldgType"])

array([0, 0, 0, ..., 0, 0, 0])

In [7]:
#To convert it into df
df2["BldgType_lab_enc"]=le.fit_transform(df2["BldgType"])
df2 


#in result we know label encoder give ist prefrence to number then aphabet

<ipython-input-7-a4dff96e6669>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["BldgType_lab_enc"]=le.fit_transform(df2["BldgType"])

     KitchenQual BldgType  BldgType_lab_enc
0             Gd     1Fam                 0
1             TA     1Fam                 0
2             Gd     1Fam                 0
3             Gd     1Fam                 0
4             Gd     1Fam                 0
...          ...      ...               ...
1455          TA     1Fam                 0
1456          TA     1Fam                 0
1457          Gd     1Fam                 0
1458          Gd     1Fam                 0
1459          TA     1Fam                 0

[1460 rows x 3 columns]

In [8]:
#to count the unique values classes
df['BldgType'].value_counts

<bound method IndexOpsMixin.value_counts of 0       1Fam
1       1Fam
2       1Fam
3       1Fam
4       1Fam
        ...
1455    1Fam
1456    1Fam
1457    1Fam
1458    1Fam
1459    1Fam
Name: BldgType, Length: 1460, dtype: object>

# Ordinal Encoding

In [16]:
df['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [9]:
#we have to label the orders
order_label={'Ex':4,'Gd':3,'TA':2,'FA':1}

In [23]:
#now we have to map the dict of order_label on our columns or variable
df2['KitchenQual_ord_enc']=df2['KitchenQual'].map(order_label)

<ipython-input-23-4c2c49f4e2db>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['KitchenQual_ord_enc']=df['KitchenQual'].map(order_label)

In [30]:
df2['BldgType_lab_enc'].head(50)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     1
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    2
18    0
19    0
20    0
21    0
22    0
23    4
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    4
35    0
36    0
37    0
38    0
39    2
40    0
41    0
42    0
43    0
44    0
45    4
46    0
47    0
48    1
49    0
Name: BldgType_lab_enc, dtype: int64